/* -----------------------------------------------------------------------------
// 11. Pricing 
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Pricing Table Style 1
// - Pricing Table style 2


// Pricing Table style 1
// -------------------------------------
.price-table {
	padding: 10px;
	background-color: #fff;
	text-align: center;

	.align {
		padding: 30px 20px 10px 20px;
	}

	// heading
	h4 {
		font-family: $links-font-family;
		text-transform: uppercase;
		font-weight: 600;
	}

	// price
	.price {
		margin: 10px 0 20px 0;
		font-family: $headings-font-family;
		font-size: 28px;
		font-weight: 600;
		color: $brand-color;
	}

	// read more button
	.btn {
		margin: 20px 0 0 0;

		&:hover {
			background-color: $brand-color;
			border-color: $brand-color;
		}
	}
}

@media (max-width: 992px){
	.price-table {
		margin-bottom: 20px;
	}
}


// Pricing Table style 2
// -------------------------------------
.price-table-colored {
	padding: 25px;
	background-color: #f9f9f9;
	text-align: center;

	@include transition(background-color, .5s);

	// heading
	h4 {
		text-transform: uppercase;
		color: #fff;
	}

	ul > li {
		color: #fff;
		opacity: .7;
	}

	// price
	.price {
		font-size: 36px;
		font-weight: 600;
		margin: 35px 0 25px 0;
		color: #fff;

		// 'month' text
		.date {
			font-size: 14px;
			margin-left: 5px;
		}

		// dollar sign
		.currency {
			position: relative;
			top: -15px;
			margin-right: 5px;
			font-size: 18px;
		}
	}

	// button
	.btn {
		width: 100%;
		margin-top: 25px;
		opacity: .5;
		border: none;

		@include transition(all, .5s);

		&:hover {
			border: none;
		}
	}

	// 'standard' type - light blue clor
	&.standard {
		background-color: #26a7ce;
		.btn {
			color: #26a7ce;
		}
	}

	// 'business' type - dark blue clor
	&.business {
		background-color: #5d7abb;
		.btn {
			color: #5d7abb;
		}
	}

	// 'premium' type - dark blue clor
	&.premium {
		background-color: #964ca8;
		.btn {
			color: #964ca8;
		}
	}

	// 'utlimate' type - pink clor
	&.ultimate {
		background-color: #e30e8e;
		.btn {
			color: #e30e8e;
		}
	}

	// Pricing Table on hover
	&:hover {
		.btn {
			opacity: 1;
		}
	}
}
