/* -----------------------------------------------------------------------------
// 6. Work Page 
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Section Headline
// - Section 1 - Hero Title
// - Section 2 - Portfolio


//
// Work
// --------------------------------------------------
.work {

// Section Headline
// --------------------------------------------------
    .section-headline {
        margin-bottom: 50px;
        text-align: center;

        h3 {
            font-weight: 500;
            text-transform: uppercase;

            &:after {
                display: block;
                content: ' ';
                width: 40px;
                height: 2px;
                margin: 15px auto 30px auto;
                background-color: $brand-color;
            }
        }
    }


// Hero Title
// --------------------------------------------------
	.hero-title {
        background-image: url(http://placehold.it/1895x900);
    }


// Portfolio
// --------------------------------------------------
    .portfolio {
        .portfolio-item {
            .img {
                margin-bottom: 0;

                &:hover {
                    .caption {
                        opacity: 1;
                    }
                }
            }
            
            .caption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .3);
                text-align: center;
                opacity: 0;
                @include transition(opacity, .5s);

                &:after {
                    content: ' ';
                    position: absolute;
                    top: 5%;
                    left: 4%;
                    width: 92%;
                    height: 90%;
                    border: 1px solid #fff;
                }

                h4 {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    font-size: 18px;
                    text-transform: uppercase;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);

                    a {
                        color: #fff;
                    }

                    small {
                        display: block;
                        color: #fff;
                        margin-top: 10px;
                        font-size: 10px;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        .portfolio-item.split {
            .img {
                width: 50% !important;
                float: left;
            }
        }
    }

    .work-item.split {
        .img {
            width: 50% !important;
            float: left;
        }
    }
}







